[user]
	name = Martijn Steenbergen
	email = m.uses+git@outlook.com
[push]
	default = simple
	autoSetupRemote = true
[pull]
	rebase = true
[merge]
	conflictstyle = zdiff3
[rebase]
	autostash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = input
[credential]
	helper = cache
[rerere]
	enabled = true
[diff]
	algorithm = histogram