/* Oneliner */
    #nav-bar {
        margin-top: -34px !important;
        margin-right: 138px;
        margin-right: calc(100vw - 35px) !important;    
        position: relative;
        border-top: none !important;
        max-height: 34px;
        background-color: black !important;
        transition: margin-right 0.2s cubic-bezier(0.77, 0, 0.175, 1) !important;
        z-index: 10 !important;
    }

    #nav-bar:focus-within, #nav-bar:hover {
        margin-right: 138px !important; /* browser controls */
        margin-left: 0vw !important;
        visibility: visible;
    }

    #urlbar-container {
        margin-left: -10px;
    }
    
    #nav-bar #urlbar-container {
        margin-left: 0px;
    }

    #PanelUI-button, #nav-bar-overflow-button {
        display: none !important;;
    }
    
    #nav-bar:focus-within #PanelUI-button {
        display: inherit !important;;   
    }

    #nav-bar:focus-within #nav-bar-overflow-button {
        display: inherit !important;;   
    }

/* Keep toolbar open after opening     */
    toolbarbutton[open="true"] {
        display: revert !important;;
    }

    #TabsToolbar {
        margin-left: 35px !important;
        z-index: 2;
    }

    .titlebar-spacer {
        display: none;
    }
    


/* Navigation bar */

/* Make it more minimalistic */
#urlbar,
#urlbar:hover, .searchbar-textbox:hover {
    box-shadow: 0 0 0 !important;
    border: 0 solid transparent !important;
}

#urlbar-container {
    background: var(--toolbar-bgcolor) !important;
}

#urlbar,
.searchbar-textbox,
#urlbar:hover,
.searchbar-textbox:hover {
    background: var(--toolbar-bgcolor) !important;
    color: var(--toolbar-color) !important;
    font-size: 1.1em !important;
    border-radius: 0 !important;
    outline: none !important;
    box-shadow: 0 0 0;
    border: 0 solid transparent !important;
    -moz-appearance: none;
    margin: 0px 0px !important;
}

/* Hide search icon */
#identity-box[pageproxystate="invalid"] > #identity-icon {
    display: none;
}

/* Hide tracking by default */
#tracking-protection-icon-container {
    display: none !important;
}    

#nav-bar:focus-within #tracking-protection-icon-container {
    display: -moz-box !important;
    position: inherit;
}

#tracking-protection-icon-container[open="true"] {
    display: -moz-box !important;
    position: inherit;
}

#PanelUI-button {
    margin: 0 !important;
    border: none !important;
}

/* Tab */

/* Always be gray */
.tab-background {
    background-image: linear-gradient(var(--lwt-selected-tab-background-color, transparent), var(--lwt-selected-tab-background-color, transparent)), linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none);
}

.tabbrowser-tab {
    z-index: 2 !important;
    position: relative;
}

/* ## Buttons */

/* Default */
:root {
    --toolbarbutton-border-radius: 0px !important;
    
    /* Disable hover color*/
/*     --toolbarbutton-hover-background: transparent !important; */
}

.toolbarbutton-badge-stack {
    background-color: transparent !important;
}

toolbarbutton:hover {
    background-color: var(--toolbarbutton-hover-background) !important;;
}

/* Only show download button is there is something to download */
#downloads-button {
    display: none;
}

#downloads-button[attention="success"], #downloads-button[progress="true"] {
    display: inherit;
}

#forward-button {
    display: none;
}

/* Hide reload button and  */


/* ### Back button*/
#back-button {
    border-radius: 0 !important;
}

#back-button .toolbarbutton-icon {
    margin-left: -2px !important;
    margin-right: -2px !important;
    border-radius: 0 !important;
    background-color: transparent !important;;
    border: none !important;
}

/* Hide back button if there is no previous page */
#back-button[disabled=true] .toolbarbutton-icon {
    visibility: hidden !important;
}


#nav-bar .webextension-browser-action {
    background-color: var(--toolbar-bgcolor);
}

#downloads-button, #nav-bar-overflow-button, #PanelUI-button, #nav-bar {
    background-color: var(--toolbar-bgcolor);
}

/* # Tab Styling */

/* Remove border between tabs */
.tabbrowser-tab::after, .tabbrowser-tab::before {
    border: none !important;;
}

/* Only show close on hover */
.tab-close-button {
    display: none;
}

tab:hover  .tab-close-button {
    display: inherit;
}

tab[selected="true"]  .tab-close-button {
    display: inherit;
}